body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 0%;
    background-color: #f4f4f4;
}

header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

p{
    font-size: 16px;
    line-height: 1.6;
}

ul{
    margin-top: 10px;
}

li{
    margin-bottom: 8px;
}